*.*
!*.py
!LICENSE.md
!README.md
!README_img.png
!Workbench_Demo.gif
!CONTRIBUTING.md
!predefined.xml
!prefPage.ui
!icons/**
!img/**
!thumbnails/*.png
!CSG FreeCAD POVray.ods
!doc/**
!Examples/**
.*
!.gitignore
